<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
        <div class="container">
            <footer class="py-4">
                <div class="d-flex justify-content-between align-items-center">
                    <span >© 2024 Shop House</span>
                    <span>
                        <a th:href="@{/about}">About Us</a>
                    </span>
                    <span>
                        <a th:href="@{/contact}" th:text="#{about.name}">Contact</a>
                    </span>
                    <label>
                        <select class="custom-select" id="select-lang">
                            <option value="en" th:selected="${#locale.getLanguage() == 'en'}">English</option>
                            <option value="pl" th:selected="${#locale.getLanguage() == 'pl'}">Polish</option>
                            <option value="den" th:selected="${#locale.getLanguage() == 'den'}">Denmark</option>
                        </select>
                    </label>
                </div>

                <div class="col-lg-2 col-md-3 mb-4">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/home}" class="text-light" th:text="#{home}">Home</a></li>
                        <li><a th:href="@{/contact}" class="text-light" th:text="#{contact}">Contact</a></li>
                        <li><a th:href="@{/add-product}" class="text-light" th:text="#{product.add}">Add Product</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 mb-4">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <a href="#" class="text-light mr-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light mr-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="text-center p-3 bg-secondary">
            <p th:text="#{footer.copyright}">© 2024 Your Company</p>
        </div>
    </footer>
</body>
</html>