<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div th:replace="fragments/header :: header"></div>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="#" class="checkout-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div>
            
                        <!-- Instructional Text for Available Address -->
                        <div class="col-12 mb-3 ">
                            <h4>Billing Address </h4>
                        </div>
                        <div class="col-12 mb-3" th:if="${#lists.size(checkoutUserInfors) > 0}">
                            <h6>You have an available account! </h6>
                            <h6> You can use it or create a new account.</h6>
                        </div>
                        <div class="col-12 mb-3" th:if="${checkoutUserInfors == null || #lists.size(checkoutUserInfors) == 0}">
                            <h6>You don't have an available account ! Please create a new account.</h6>
                        </div>
                        <!-- Display Address Sections Dynamically if $checkoutUserInfors is not empty -->
                        <div class="col-md-12 form-group">
                            <div th:each="checkoutUserInfor, iterStat : ${checkoutUserInfors}">
                                <!-- Radio button to select one address at a time -->
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="selectedAddress" th:id="'address' + ${iterStat.index}">
                                    <label class="custom-control-label" th:for="'address' + ${iterStat.index}"
                                        th:text="${checkoutUserInfor.firstName} + ' ' + ${checkoutUserInfor.lastName}"
                                        data-toggle="collapse" 
                                        th:data-target="'#shipping-address-' + ${iterStat.index}">
                                        <!-- Label for each address will display user's first and last name -->
                                    </label>
                                </div>
                        
                                <!-- Collapsible Address Details -->
                                <div class="collapse mb-4" th:id="'shipping-address-' + ${iterStat.index}">
                                    <div class="row">
                                        <div class="col-md-6 form-group" th:id="'id_' + ${iterStat.index}" th:value="${checkoutUserInfor.id}">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.firstName}" th:name="'firstName_' + ${iterStat.index}" th:data-id="${checkoutUserInfor.id}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.lastName}" th:name="'lastName_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>E-mail</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.email}" th:name="'email_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Mobile No</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.mobileNo}" th:name="'mobileNo_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Address</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.address}" th:name="'address_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>District</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.district}" th:name="'district_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Country</label>
                                            <select class="custom-select" name="country" th:name="'country_' + ${iterStat.index}">
                                                <option value="United States" th:selected="${checkoutUserInfor.country == 'United States'}">United States</option>
                                                <option value="Afghanistan" th:selected="${checkoutUserInfor.country == 'Afghanistan'}">Afghanistan</option>
                                                <option value="Albania" th:selected="${checkoutUserInfor.country == 'Albania'}">Albania</option>
                                                <option value="Algeria" th:selected="${checkoutUserInfor.country == 'Algeria'}">Algeria</option>
                                                <option value="Viet Nam" th:selected="${checkoutUserInfor.country == 'Viet Nam'}">Viet Nam</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>City</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.city}" th:name="'city_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>ZIP Code</label>
                                            <input class="form-control" type="text" th:placeholder="${checkoutUserInfor.zipCode}" th:name="'zipCode_' + ${iterStat.index}">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h6>If you click save , your adress will save for the next time .</h6>
                                            <h6>If you don't want save your adress , you don't need to click it .</h6>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button type="button" class="btn btn-primary save-address-btn" th:data-index="${iterStat.index}">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Radio Button for Creating a New Account -->
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="create-account-radio" name="selectedAddress"
                                    th:checked="${#lists.size(checkoutUserInfors) == 0}"
                                    th:disabled="${#lists.size(checkoutUserInfors) == 0}"
                                    data-toggle="collapse" 
                                    data-target="#create-account">
                                <label class="custom-control-label" for="create-account-radio">Create new account</label>
                            </div>
                        </div>
                        
                        <!-- Collapse Panel for Creating New Account -->
                        <div class="collapse mb-4" id="create-account"
                             th:classappend="${#lists.size(checkoutUserInfors) == 0 ? ' show' : ''}">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'firstName_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'lastName_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'email_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'mobileNo_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'address_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>District</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'district_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select" th:name="'country_' + ${#lists.size(checkoutUserInfors)}">
                                        <option selected>United States</option>
                                        <option>Afghanistan</option>
                                        <option>Albania</option>
                                        <option>Algeria</option>
                                        <option>Viet Nam</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'city_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input class="form-control" type="text" placeholder="" th:name="'zipCode_' + ${#lists.size(checkoutUserInfors)}">
                                </div>
                                <div class="col-12 mb-3">
                                    <h6>If you click save , your adress will save for the next time .</h6>
                                    <h6>If you don't want save your adress , you don't need to click it .</h6>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="button" class="btn btn-primary save-address-btn" th:data-index="${#lists.size(checkoutUserInfors)}">Save</button>
                                </div>
                            </div>
                        </div>                        
                        <!-- Account Creation Option -->
                        <!-- <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Save address</label>
                            </div>
                        </div> -->
                    </div>                
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="Enter Your Coupon Code">
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <div class="cart-table">
                                        <table>
                                            <thead>
                                                <tr>        
                                                    <th>Image</th>
                                                    <th class="p-name">Product Name</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="product : ${selectedItems}" class="cart-item">
                                                                                          
                                                    <td class="cart-pic first-row">
                                                        <img th:src="${product.product.imageUrl}" alt="" style="width: 50%; height: 50%">
                                                    </td>
                                                    <td class="cart-title first-row" th:id="product-id" th:value="${product.product.id}">
                                                        <h5 th:text="${product.product.name}"></h5>
                                                    </td>
                                                    <td class="p-price first-row" th:text="${#numbers.formatDecimal(product.product.price, 2, 2)}"></td>
                                                    <td class="total-price first-row qua-col">
                                                        <h5 th:text="${product.quantity}"></h5>
                                                    </td>
                                                    <td class="p-price first-row item-total" th:text="${#numbers.formatDecimal(product.quantity * product.product.price, 2, 2)}"></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <li class="fw-normal">Subtotal <span class="subtotal-price">$240.00</span></li>
                                    <li class="total-price">Total <span class="total-cart-price">$240.00</span></li>
                                </ul>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Serivius</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/checkout.js"></script>
</body>

</html>